In [20]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [21]:
dataset=pd.read_csv('logistic.csv')

In [22]:
dataset

    Marks  Pass
0      40     1
1      22     0
2      39     0
3      45     1
4      50     1
5      20     0
6      25     0
7      30     0
8      60     1
9      10     1
10     15     0
11     65     1
12     70     1
13     49     1
14     33     0
15      9     0
16     84     1
17     41     1
18     13     0

In [23]:
dataset.isnull().sum()

Marks    0
Pass     0
dtype: int64

In [24]:
dataset=pd.read_csv('logistic.csv')

In [25]:
fillup=dataset['Pass'].median()

In [26]:
fillup

1.0

In [27]:
dataset.Pass=dataset.Pass.fillna(fillup)

In [28]:
dataset

    Marks  Pass
0      40     1
1      22     0
2      39     0
3      45     1
4      50     1
5      20     0
6      25     0
7      30     0
8      60     1
9      10     1
10     15     0
11     65     1
12     70     1
13     49     1
14     33     0
15      9     0
16     84     1
17     41     1
18     13     0

In [29]:
dataset['Pass'].value_counts()

1    10
0     9
Name: Pass, dtype: int64

In [30]:
x=dataset[['Marks']]
y=dataset['Pass']

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
xtrain, xtest, ytrain,ytest=train_test_split(x,y,test_size=.30,
random_state=1)

In [33]:
xtest

    Marks
3      45
15      9
6      25
10     15
2      39
14     33

In [34]:
ytest

3     1
15    0
6     0
10    0
2     0
14    0
Name: Pass, dtype: int64

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
reg=LogisticRegression()

In [37]:
reg.fit(xtrain,ytrain)

LogisticRegression()

In [38]:
reg.predict(xtest)

array([1, 0, 0, 0, 1, 1])

In [39]:
reg.score(xtest,ytest)

0.6666666666666666

In [40]:
ytest

3     1
15    0
6     0
10    0
2     0
14    0
Name: Pass, dtype: int64

In [41]:
reg.predict_proba(xtest)

array([[0.11921905, 0.88078095],
       [0.88095323, 0.11904677],
       [0.55554905, 0.44445095],
       [0.79160035, 0.20839965],
       [0.20867061, 0.79132939],
       [0.33937779, 0.66062221]])